/* import the bootstrap css file from its content delivery network*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    font-family: "Open Sans", sans-serif;
    background-image: url("");
    background-repeat: no-repeat;
    background-color: #181C22;
    background-position: center top;
    font-weight: 300;
    color: #FFF;
    background-size: cover;
}
nav {
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 40px;
    font-weight:300;
    width: 100%;
    font-variant: small-caps;
    fill:#FFF;
}
nav ul {
    padding-left: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

/*makes the bar horizontally line up*/
nav li {
    display: inline-block;
    padding:0.5em;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

/*decoration of hyperlinks when hoover or focus*/
nav a:hover, nav a:focus {
    text-decoration: none;
    color: white;
    fill: #D87E28;
}

svg {
    height: 1em;
}

div.container {
    text-align: center;
    position: absolute;
    top: 100px;
}

#contactDj {
    width: 80%;
    height: 350px;
    width: 350px;
}

#contact {
    background-color: #000;
    color: #FFF;
}

#contact .container, #story .container {
    background-color: rgba(0,0,0,0.8);
}

#contactForm .ng-dirty.ng-valid {
    border: 1px solid #00DD00;
}

#contactForm .ng-dirty.ng-invalid {
    border: 1px solid #DD0000;
}

#messageInp {
    width: 100%;
    height: 4em;
}

#story {
    clear: both;
    color: #FFF;
    width: 100%;
}
.container {
    padding-top: 6em;
    padding-bottom: 5em;
    margin-left: 0;
    padding-left: 0;
    width: 100%;

}

#story img {
    float: left;
    max-height: 400px;
    padding-right: 2em;
}

#name {
    font-variant: small-caps;
}

@media(min-width: 768px) {
    body {
        background-image: url("../img/dj2.jpg");
    }
}