/* import the bootstrap css file from its content delivery network*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
body {
    font-family: "Open Sans", sans-serif;
    background-image: url("../img/background-md.jpg");
    background-repeat: no-repeat;
    background-color: #181C22;
    background-position: center top;
    font-weight:300;
}
nav {
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 40px;
    font-weight:300;
    width: 100%;
    font-variant: small-caps;
    fill:#FFF;
}
nav ul {
    padding-left: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

/*makes the bar horizontally line up*/
nav li {
    display: inline-block;
    padding:0.5em;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

/*decoration of hyperlinks when hoover or focus*/
nav a:hover, nav a:focus {
    text-decoration: none;
    color: white;
    fill: #D87E28;
}

svg {
    height: 1em;
}

div.container {
    margin: 25px;
    text-align: center;
    position: absolute;
    top: 100px;
}

@media(min-width: 768px) {
    body{
        background-image: url("../img/background-lg.jpg");
    }

}