<div class="col-md-3"> 
    <img src="../img/bio.jpg">
</div>

<div class="col-md-9">
    <h2>My Store</h2>
    <p>ipsom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.psom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.psom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.</p>
    
    <h2>What I Do</h2>
    <p>ipsom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.psom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.psom Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem distinctio, optio tempore fugiat voluptate ipsam, dolore repudiandae ex quod debitis nesciunt tempora vero quis sit cum. Cum, deleniti, temporibus.</p>
</div>