<section id="name">
    <div class="container">
        <br><h1>BRENNAN ZIELINSKI</h1>
        <h3>also known as <u>breezee</u>, a local seattle/bellevue dj</h3>
        <br><br>
        <iframe src="https://player.vimeo.com/video/95766797" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p>breezee created this song in a viral seattle timelapse video by f-stop seattle</p>
        <footer><br>
            <a href="https://www.facebook.com/OfficialBreezee"><i class="fa fa-facebook-official"></i></a>
            <a href="http://twitter.com/BREEZEEmusic"><i class="fa fa-twitter-square"></i></a>
            <a href=http://www.youtube.com/officialbreezee"><i class="fa fa-youtube-square"></i></a>
            <a href="http://www.instagram.com/breezeemusic"><i class="fa fa-instagram"></i></a>
            <br>
            &copy; breezee music, 2015
        </footer>
    </div>

</section>
